<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>
<body>
    <header Id="header"></header>
    <main>
        <header>
            <h1>첫번째 글</h1>
        </header>

        <aside>
            <p>kyuhyun</p>
            <p><a href="selma457@gmail;.com">selma457@naver.com</a></p>
            <p><time datetime="2023-01-01T00:00:00">2023-01-01</time></p>
            <p>#java</p>
        </aside>

        <section>
            <p>본문<br><br></p>
            <div>
                <form>
                    <label for="articleComment" hidden>댓글</label>
                    <textarea placeholder="댓글쓰기.." rows="3" id="articleComment"></textarea>
                    <button type="submit">쓰기</button>
                </form>

                <ul>
                    <li>
                        <div>
                            <time><small>2023-01-01</small></time>
                            <strong>kyuhyun</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cum, eos excepturi inventore laboriosam magnam, perspiciatis quo sed soluta tempore temporibus vitae voluptate voluptatem? Beatae consectetur dolor iusto quisquam tempora.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <time><small>2023-01-01</small></time>
                            <strong>kyuhyun</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut dolores eaque, et magni nobis possimus, quisquam rem rerum sit soluta tenetur vero voluptate! Aliquam delectus dignissimos illo sint? Hic?</p>
                        </div>
                    </li>
                </ul>
            </div>

            <nav>
                <a  href="#">이전 글</a>
                <a  href="#">다음 글</a>
            </nav>
        </section>
    </main>
        <footer id="footer"></footer>


</body>
</html>